<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133685039412-fcbh76mgpsaoi6gp1ib31crnrb9r7hom.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133685039412-fcbh76mgpsaoi6gp1ib31crnrb9r7hom</string>
	<key>API_KEY</key>
	<string>AIzaSyAZqPKi2fdyy6c2CxHnW8dzxKcJ0Vftq1o</string>
	<key>GCM_SENDER_ID</key>
	<string>133685039412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SamuelFolledo.HawkHackProject2019S</string>
	<key>PROJECT_ID</key>
	<string>jacknpoy-a6bd4</string>
	<key>STORAGE_BUCKET</key>
	<string>jacknpoy-a6bd4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133685039412:ios:a01b5bc5cba0c256875561</string>
	<key>DATABASE_URL</key>
	<string>https://jacknpoy-a6bd4.firebaseio.com</string>
</dict>
</plist>